# Entorno virtual
venv/
.venv/

# Archivos de compilación o temporales
JuegoPreguntados/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec
*.db

# Archivos de build y distribución
Juego_de_preguntas/JuegoPreguntados/build/
Juego_de_preguntas/JuegoPreguntados/dist/
/JuegoPreguntados/main.spec
# Base de datos local
Juego_de_preguntas/juego_preguntados.db

# Configuraciones del editor o sistema
*.log
*.env
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/